lib/

*.swp

build/
vs2019/

tools/Testify/bin
tools/Testify/obj
tools/Testify/.vs
tools/Testify/Properties/launchSettings.json

tools/MachineDescription/bin
tools/MachineDescription/obj
tools/MachineDescription/.vs
tools/MachineDescription/Properties/launchSettings.json

.vscode/

docs/generated/

.testify/