[submodule "external/llvm-project"]
	path = external/llvm-project
	url = https://github.com/llvm/llvm-project.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "extras/doomgeneric"]
	path = extras/doomgeneric
	url = https://github.com/ozkl/doomgeneric.git
[submodule "external/tracy"]
	path = extras/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "extras/c-testsuite"]
	path = extras/c-testsuite
	url = https://github.com/DontBelieveMe/c-testsuite
[submodule "extras/creduce"]
	path = extras/creduce
	url = https://github.com/csmith-project/creduce.git
